<a href="https://colab.research.google.com/github/Hyun-ho-Lee/Python-Practice/blob/main/%EA%B2%B0%EC%B8%A1%EA%B0%92_%EA%B8%B0%EB%B3%B8%EA%B8%B008_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import os 
from google.colab import drive
drive.mount('/content/drvie')
warnings.filterwarnings('ignore')

Drive already mounted at /content/drvie; to attempt to forcibly remount, call drive.mount("/content/drvie", force_remount=True).

In [8]:
nfl_data = pd.read_csv("/content/drvie/MyDrive/NFL.csv")

In [9]:
np.random.seed(0)

In [10]:
nfl_data.head()

         Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
0  2009-09-10  2009091000      1    1  ...  0.060758       NaN       NaN    2009
1  2009-09-10  2009091000      1    1  ...  0.004655 -0.032244  0.036899    2009
2  2009-09-10  2009091000      1    1  ... -0.040295       NaN       NaN    2009
3  2009-09-10  2009091000      1    1  ... -0.049576  0.106663 -0.156239    2009
4  2009-09-10  2009091000      1    1  ...  0.097712       NaN       NaN    2009

[5 rows x 102 columns]

In [15]:
missing_vlaues_count = nfl_data.isnull().sum()

In [16]:
missing_vlaues_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [20]:
total_cells = np.product(nfl_data.shape)
total_cells

41584176

In [18]:
total_missing = missing_vlaues_count.sum()

In [19]:
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

24.87214126835169

In [21]:
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [22]:
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

         Date      GameID  Drive  ...  ExPoint_Prob  TwoPoint_Prob  Season
0  2009-09-10  2009091000      1  ...           0.0            0.0    2009
1  2009-09-10  2009091000      1  ...           0.0            0.0    2009
2  2009-09-10  2009091000      1  ...           0.0            0.0    2009
3  2009-09-10  2009091000      1  ...           0.0            0.0    2009
4  2009-09-10  2009091000      1  ...           0.0            0.0    2009

[5 rows x 41 columns]

In [23]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

In [24]:
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009

[5 rows x 12 columns]

In [25]:
subset_nfl_data.fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474  0.000000  0.000000  ...  0.000000  0.000000    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  0.000000  0.000000  ...  0.000000  0.000000    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]

In [26]:
subset_nfl_data.fillna(method='bfill', axis=0).fillna(0)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474 -1.068169  1.146076  ... -0.032244  0.036899    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  3.318841 -5.031425  ...  0.106663 -0.156239    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]