<a href="https://colab.research.google.com/github/Hyun-ho-Lee/python/blob/main/%EA%B8%B0%EB%B3%B8%EA%B8%B0_%EB%8B%A8%EB%A0%A8_08_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re 
from urllib import request

In [ ]:
df

          team      against  fifa_rank
0       russia  saudiarabia         65
1  saudiarabia       russia         63
2        egypt      uruguay         31
3      uruguay        egypt         21

In [ ]:
myList=[1,2,3,4,5]

result1=[]
for val in myList:
  result1.append(val+1)

print(f'result1 : {result1}')

def add_one(n):
  return n+1 

result2=list(map(add_one,myList))
print(f'result2 : {result2}')

result1 : [2, 3, 4, 5, 6]
result2 : [2, 3, 4, 5, 6]

In [ ]:
import math 

result1= list(map(int,[1.1, 2.2, 3.3, 4.4, 5.5]))
print(f'map(int, 리스트) : {result1}')

map(int, 리스트) : [1, 2, 3, 4, 5]

In [ ]:
def func_pow(x):
  return pow(x,5)
result2=list(map(func_pow,[1,2,3,4,5]))
print(f'map(func_pow, 리스트) : {result2}')

map(func_pow, 리스트) : [1, 32, 243, 1024, 3125]

In [ ]:
def func_mul(x):
  return x * 2 

result2=list(map(lambda x : x * 2,[5,4,3,2,1]))
result2

[10, 8, 6, 4, 2]