<a href="https://colab.research.google.com/github/Hyun-ho-Lee/python/blob/main/%EA%B8%B0%EB%B3%B8%EA%B8%B0_%EB%8B%A8%EB%A0%A8_08_07(List).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists
Lists in Python represent ordered sequences of values. Here is an example of how to create them:

파이썬 내 List 사용법에 관하여

In [1]:
primes=[2,3,5,7]

In [29]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [3]:
hands = [ 
         ['J','Q','K'],
         ['2','2','2'],
         ['6','A','K'],
]

In [4]:
my_favourite_things=[32,'raindrops on roses',help]
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

In [5]:
#파이썬은 1부터가 아닌 0부터라는걸 꼭 꼭 까먹지말것
planets[0]

'Mercury'

In [6]:
planets[1]

'Venus'

In [7]:
#-1일경우 마지막 순서에있는 객체 리턴 
planets[-1]

'Neptune'

In [8]:
planets[-2]

'Uranus'

Slicing 이용해서 원하는 범위까지 뽑아내는 방법 사용이 가능함

In [9]:
#[0:3]일경우 0,1,2 리턴 즉 3번 전까지 리턴하는 개념 
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [10]:
#마찬가지로 :3 일경우 처음부터 3번전까지 리턴 아무것도 안넣을경우 0이 디폴트이므로 
planets[:3]

['Mercury', 'Venus', 'Earth']

In [11]:
#3:일경우 3번쨰부터 끝까지 리턴 
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [12]:
#처음(Mercury) 그리고 마지막(Neptune)을 제외하고 리턴하는 방법은? 

planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [13]:
#뒤에있는 3개만 뽑는 방법 (-3이라하면 뒤에서 3번째부터 끝까지 추출) 
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

Changing lists 
리스트 내에있는 단어를 바꿀수가 있음 그 방법에 대해서

In [14]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [15]:
#Mars의 이름을 바꾸는 방법 
planets[3]='Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [16]:
#planets의 처음부터 3번쨰까지 바꾸는 방법 
planets[:3]=['Mur','Vee','Ur']
print(planets)
planets[:4]=['Mercury','Venus','Earth','Mars']
planets

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

list의 기능중 len을 이용하여 갯수를 셀수있음 

len같은경우 plot 그리거나 여러가지에서 응용이 가능함 (len 응용의 경우 찾아보기) 

*참고 enumerate() 함수의 경우 인덱스와 같이 나옴

In [17]:
for index, value in enumerate(planets):
      print(index,value)

0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn
6 Uranus
7 Neptune

In [18]:
len(planets)

8

In [19]:
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [20]:
primes=[2,3,5,7]
sum(primes)

17

In [21]:
max(primes)

7

In [22]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [23]:
x.bit_length()

4

In [30]:
#.append 사용시에 리스트 마지막에 객체 추가함  
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [31]:
#.pop() 사용시 마지막원소 리턴 
planets.pop()

'Pluto'

In [32]:
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [33]:
#list안에서 몇번째 순서인지 확인하는 함수 .index 이용 

planets.index('Earth')

2

In [34]:
#Pluto 같은경우 위에서 .pop 이용하여 삭제시켰으므로 코드 실행시 오류 발생
planets.index('Pluto')

ValueError: ignored

In [35]:
#지구가 planets 리스트 안에있는지 True or False 로 리턴 

"Earth" in planets

True

In [36]:
t=(1,2,3)
t

(1, 2, 3)

In [37]:
x=0.125
x.as_integer_ratio()

(1, 8)

In [38]:
def select_second(L):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(L) <2 :
          return None
    return L[1]

In [ ]:
def losing_team_captain(teams):
    return teams[-1][1]

In [39]:
def purple_shell(racers):
  temp=racers[0]
  racers[0]=racers[-1]
  racers[-1]=temp

In [40]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

In [ ]:
def fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    pass

Loop 관련 for 구문을 주로 이용함

In [42]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

for planet in planets:
    print(planet,end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [43]:
multiplicands=(2,2,2,3,3,5)
product=1
for mul in multiplicands:
    product = product*mul
product

360

In [44]:
for x in range(1,11):
    print("*"*x)

*
**
***
****
*****
******
*******
********
*********
**********

In [45]:
while True: 
  ans=input("경민이의 애칭은?")
  if ans=="똥멍청이":
      print("정답!")
      break
  print("아닙니다")

경민이의 애칭은?똥멍청이
정답!

In [47]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg=''

for char in s: 
  if char.isupper():
      print(char,end='')

HELLO

In [48]:
for i in range(5):
    print("Doing important work.i=",i)

Doing important work.i= 0
Doing important work.i= 1
Doing important work.i= 2
Doing important work.i= 3
Doing important work.i= 4

In [50]:
i = 0 
while i < 10: 
    print(i,end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [51]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
squares = []
for n in range(10):
  squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
short_planets=[planet for planet in planets if len(planet)<6]
short_planets

['Venus', 'Earth', 'Mars']

In [56]:
#str.upper은 대문자로 변경
loud_short_planets=[planet.upper()+'!' for planet in planets if len(planet)<6]
loud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [57]:
def count_negatives(nums):
    n_negative = 0 
    for num in nums:
        if num < 0:
          n_negative=n_negative + 1 
    return n_negative

In [58]:
count_negatives([5,-1,-2,0,3])

2

In [60]:
def count_negatives(nums):
    return len([num for num in nums if num<0])

count_negatives([5,-1,-2,0,3])

2

In [61]:
len([3,5])

2

In [65]:
def has_lucky_number(nums):
    for num in nums: 
        if num%7 ==0:
            return True
        else:
            return False

has_lucky_number([7,5,2,1])

True

In [ ]:
def has_lucky_number(nums):
    return any([num % 7 == 0 for num in nums])

In [66]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    return [ele > thresh for ele in L]

elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]