<a href="https://colab.research.google.com/github/Hyun-ho-Lee/python/blob/main/2021_07_30_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame({'test': [ '1,000' ,'20000' ,'3000' ,'4,330' ]})

In [20]:
df

    test
0  1,000
1  20000
2   3000
3  4,330

In [21]:
df['test'] = df.apply(lambda x: x['test'].replace(",", "").replace(" ", "") if x['test'] else '', axis=1)
df

    test
0   1000
1  20000
2   3000
3   4330

In [22]:
np.random.seed(10)
n = 5
df = pd.DataFrame()
df['A'] = np.random.rand(n) ## random sample from standard uniform distribution
df['B'] = np.random.randn(n) ## random sample from standard normal distribution
df['C'] = np.linspace(0,5,n)

In [23]:
#제곱값 구하는 법
df.apply(np.square)

          A         B        C
0  0.594936  0.441400   0.0000
1  0.000431  0.366697   1.5625
2  0.401510  0.423789   6.2500
3  0.560707  0.262726  14.0625
4  0.248509  0.068848  25.0000

In [24]:
df.apply(np.sum)

A     2.673032
B    -1.145969
C    12.500000
dtype: float64

In [25]:
df.apply(np.sum,axis=1)

0    0.106941
1    0.665197
2    2.482657
3    5.011372
4    5.760896
dtype: float64

In [26]:
df.apply(np.sum,axis=0)

A     2.673032
B    -1.145969
C    12.500000
dtype: float64

In [27]:
#apply 이용 A,B 제곱 구하는 법 
df.apply(lambda x:np.square(x) if x.name in ['A','B'] else x)

          A         B     C
0  0.594936  0.441400  0.00
1  0.000431  0.366697  1.25
2  0.401510  0.423789  2.50
3  0.560707  0.262726  3.75
4  0.248509  0.068848  5.00

In [28]:
#짝수번째 행만 
df.apply(lambda x:np.square(x) if (x.name+1)%2==0 else x,axis=1)

          A         B        C
0  0.771321 -0.664380   0.0000
1  0.000431  0.366697   1.5625
2  0.633648 -0.650991   2.5000
3  0.560707  0.262726  14.0625
4  0.498507  0.262389   5.0000

In [29]:
def col_sum(x,a,b): 
  return a*x+b
df.apply(col_sum,args=(3,1))

          A         B      C
0  3.313962 -0.993139   1.00
1  1.062256 -0.816665   4.75
2  2.900945 -0.952973   8.50
3  3.246412  2.537703  12.25
4  2.495521  1.787166  16.00